---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Inicio">
	<h1>Hola, soy un desarrollador junior</h1>
	<p>Bienvenido a mi portafolio hecho con Astro.</p>
</MainLayout>
