---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
---

<MainLayout title="Proyectos">
  <h1>Mis proyectos</h1>

  <Card 
    title="Proyecto 1" 
    description="Un sitio web simple usando Astro." 
  />

  <Card 
    title="Proyecto 2" 
    description="Una API con Node.js y Express." 
  />

  <Card 
    title="Proyecto 3" 
    description="Juego pequeño con HTML, CSS y JavaScript." 
  />
</MainLayout>
